.profile-card {
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    background-color: #111;
}

.profile-table {
    max-width: 600px;
    width: 100%;
    align-items: center;
}

#profile {
    margin: auto;
    align-items: center;
}