<div class="signup-container">
    <h1>Create Account</h1>
    
    @if (isLoading) {
      <div class="loading-container">
        <h2>Registration in progress</h2>
        <mat-spinner diameter="50"></mat-spinner>
        <p>Please wait...</p>
      </div>
    }
  
    @if (showForm) {
      <form [formGroup]="signUpForm" (ngSubmit)="signup()" class="signup-form">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

        <div class="name-row">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="name">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>
  
        <div class="password-row">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
        </div>

        <div class="passwordAgain-row">
            <mat-form-field appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="passwordAgain">
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>
        </div>

        <div class="buttons-row">
          <button mat-flat-button color="primary" type="submit">Register</button>
          <button mat-flat-button [routerLink]="['/login']">Already have an account?</button>
        </div>
      </form>
    }
  </div>