<div class="container" id="lead">
    <h1>Our finest Captains</h1>
    
    <table mat-table [dataSource]="dataSource">
    
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let player">{{player.name}}</td>
        </ng-container>
    
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef>Score</th>
            <td mat-cell *matCellDef="let player">{{player.score}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    
    </table>
    
    <button mat-flat-button [routerLink]="['/home']" class="buttons">Back to Home</button>
</div>