@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.table-overrides((
    background-color: #666,
    header-headline-color: white,
  ));
}

#lead {
    max-width: 600px;
    margin: auto;
}